body{
   margin: 0px;
   padding: 0px;
   font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;

}
header{
    display: flex;
    gap: 170px
    ;
    background: rgba(229, 84, 115, 0.10);
    padding-right: 240px;
    padding-left: 240px;
    
}


.title-header{
    color: #272727;
font-size: 80px;
font-weight: 800;
line-height: normal;
max-width:700px;
}
.section-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
max-width: 650px;
}